* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    margin-top: 5%;
}

.calculator {
    width: 70%;
    max-width: 700px;
    background-color: honeydew;
    margin: 5% auto;
    padding: 5%;
    border-radius: 15px;
    border-bottom: solid #bbecbb 1rem;
    box-shadow: 0 0 10px #000000cc;
}

.calculator div {
    height: auto;
    border: solid #bbecbb 0.3rem;
    padding: 3%;
    text-align: right;
    font-family: "Jacquard 12";
    font-size: 3vw;
    background-color: blanchedalmond;
    line-height: 1.1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.calculator div:empty::before {
    content: "A";
    visibility: hidden;
}

.calculator table {
    margin: 10% auto 0;
    width: 100%;
    border-collapse: collapse;
}

.calculator table td {
    width: 30%;
    padding: 0 0 2%;
}

.calculator table td button {
    width: 6vw;
    height: 5vw;
    font-family: Geist Mono;
    font-size: 3vw;
    border: solid #bbecbb 2px;
    background-color: blanchedalmond;
    cursor: pointer;
}

.calculator table td button.ac {
    background-color: burlywood;
}

.calculator table td button:hover {
    background-color: khaki;
}

@media (max-width: 1200px) {
    .calculator table td button {
        width: 12vw;
        font-size: 3.7vw;
    }
}