* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

/* Header */
h1 {
    text-align: center;
    margin-top: 5%;
}

/* Calculator */
.calculator {
    width: 70%;
    max-width: 44em;
    background-color: honeydew;
    margin: 5% auto;
    padding: 5%;
    border-radius: 1em;
    border-bottom: solid #bbecbb 1em;
    box-shadow: 0 0 0.7em #000000cc;
}

/* Display */
.calculator div {
    border: solid #bbecbb 0.3em;
    padding: 3%;
    text-align: right;
    font-family: "Jacquard 12";
    font-size: 3vw;
    background-color: blanchedalmond;
    line-height: 1.1;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.calculator div:empty::before {
    content: "A";
    visibility: hidden;
}

/* Buttons */
.calculator table {
    margin: 10% auto 0;
    border-collapse: collapse;
}

.calculator table td {
    width: 30%;
    padding: 0 0 2%;
}

.calculator table td button {
    width: 6vw;
    font-family: "Geist Mono";
    font-size: 3vw;
    border: solid #bbecbb 0.1em;
    background-color: blanchedalmond;
    cursor: pointer;
    transition: all 0.3s;
}

.calculator table td button.ac {
    background-color: burlywood;
}

.calculator table td button:hover {
    background-color: khaki;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .calculator table td button {
        width: 12vw;
        font-size: 3.7vw;
    }
}